<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCAX4DX4oW1LaetZ9NwhyGEK__7VTdFg0</string>
	<key>GCM_SENDER_ID</key>
	<string>408160611859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sa3eed.oscar</string>
	<key>PROJECT_ID</key>
	<string>oscar-duty-app</string>
	<key>STORAGE_BUCKET</key>
	<string>oscar-duty-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408160611859:ios:d9125e1b606257874419e6</string>
</dict>
</plist>